<app-navigation-manager></app-navigation-manager>
<div class="register-container">
 <h2 class="form-title">Register New Doctor</h2>
<form class="row m-2 modern-form">

    <div class="col-md-6">
        <img class="img-thumbnail" src="{{doctor.image}}" height="300" width="300">
    </div>

    <div class="col-md-6">
        <label for="inputfirstname" class="form-label">First Name</label>
        <input type="text" class="form-control" id="inputfirstname" [(ngModel)]="doctor.firstname" name="firstname">

        <label for="inputLastname" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="inputLastname" [(ngModel)]="doctor.lastname" name="lastname">

        <label for="inputUsername" class="form-label">User Name</label>
        <input type="text" class="form-control" id="inputUsername" [(ngModel)]="doctor.username" name="username">

        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" [(ngModel)]="doctor.password" name="password">

        <label for="inputConfirm" class="form-label">Confirm password</label>
        <input type="password" class="form-control" id="inputConfirm" [(ngModel)]="passwordConfirm"
               name="passwordConfirm">
    </div>

    <div class="col-md-6">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" [(ngModel)]="doctor.address" name="address">
    </div>

    <div class="col-md-6">
        <label for="inputPhone" class="form-label">Contact Number</label>
        <input type="text" class="form-control" id="inputPhone" [(ngModel)]="doctor.phone" name="phone">
    </div>

    <div class="col-md-6">
        <label for="inputMail" class="form-label">Mail</label>
        <input type="email" class="form-control" id="inputMail" [(ngModel)]="doctor.mail" name="email">
    </div>

    <div class="col-md-6">
        <label for="inputLicenceId" class="form-label">License Number</label>
        <input type="text" class="form-control" id="inputLicenceId" [(ngModel)]="doctor.licenceId" name="licenceId">
    </div>

    <div class="col-md-6">
        <label for="inputSpecialization" class="form-label">Specialisation</label>
        <select class="form-select" aria-label="Default select example" id="inputSpecialization"
                [(ngModel)]="doctor.specialization" name="specialization">
            <option selected>Odaberite specijalizaciju</option>
            <option *ngFor="let spec of specializations">{{spec._id}}</option>
        </select>

    </div>

    <div class="col-md-6">
        <label for="formFile" class="form-label">Profile Pic</label>
        <input (change)="onSelectFile($event)" class="form-control" type="file" id="formFile" accept=".png, .jpg">
    </div>

    <div class="col-12">
        <label for="inputMediciceBranch" class="form-label">Department</label>
        <input type="text" class="form-control" id="inputMediciceBranch" [(ngModel)]="doctor.medicineBranch"
               name="mediciceBranch">
    </div>


    <div class="col-12">
        <br>
        <button type="submit" (click)="doctorRegister()" class="btn btn-dark">Register</button>
    </div>

</form>

<div id="alert" class="alert alert-danger m-2" role="alert">
    {{message}}
</div>

<div id="alertSuccess" class="alert alert-success m-2" role="alert">
    {{message}}
</div>
</div>

