<app-navigation-patient></app-navigation-patient>
<div class="register-container">
 <h2 class="form-title">Register</h2>

<form>
    <fieldset class="row m-2 modern-form">

        <div class="col-md-6">
            <img class="img-thumbnail" src="{{patient.image}}" height="300" width="300">
        </div>

        <div class="col-md-6">
            <label for="inputFirstname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="inputFirstname" [(ngModel)]="patient.firstname"
                   name="firstname">

            <label for="inputLastname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="inputLastname" [(ngModel)]="patient.lastname"
                   name="lastname">

            <label for="inputUsername" class="form-label">User Name</label>
            <input type="text" class="form-control" id="inputUsername" [(ngModel)]="patient.username"
                   name="username">

            <label for="inputAddress" class="form-label">Address</label>
            <input type="text" class="form-control" id="inputAddress" [(ngModel)]="patient.address"
                   name="address">

            <label for="inputPhone" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="inputPhone" [(ngModel)]="patient.phone"
                   name="phone">
        </div>

        <div class="col-md-6">
            <label for="inputMail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputMail" [(ngModel)]="patient.mail"
                   name="email">
        </div>

        <div class="col-md-6">
            <label for="formFile" class="form-label">Profile Photo</label>
            <input (change)="onSelectFile($event)" class="form-control" type="file" id="formFile"
                   accept=".png, .jpg">
        </div>

    </fieldset>
    <br>
    <fieldset class="row m-2">
        <div class="col-md-12">
            <button id="saveChanges" type="submit" (click)="updateInfo()" class="btn btn-dark">
                Update
            </button>
        </div>
    </fieldset>
</form>

<div id="alert" class="alert alert-danger m-2" role="alert">
    {{message}}
</div>

<div id="alertSuccess" class="alert alert-success m-2" role="alert">
    {{message}}
</div>


<legend class="text-center">Change Password?</legend>
<form>
    <fieldset class="row m-2">

        <div class="col-md-6">
            <label for="inputMail" class="form-label">Current Password</label>
            <input type="password" class="form-control" id="inputCheckPassword" [(ngModel)]="checkPassword"
                   name="checkPassword">
        </div>

        <div class="col-md-6">
            <label for="inputMail" class="form-label">New Password</label>
            <input type="password" class="form-control" id="inputNewPassword" [(ngModel)]="newPassword"
                   name="newPassword">
        </div>


        <div class="col-md-6">
            <label for="inputMail" class="form-label">Confirm New Password</label>
            <input type="password" class="form-control" id="inputConfirmNewPassword" [(ngModel)]="checkNewPassword"
                   name="confirmNewPassword">
        </div>

        <div >
            <br>
            <button class="submit-btn" id="saveNewPassword" type="submit" (click)="updatePassword()" class="btn btn-dark m-2">
               Change Password
            </button>
        </div>

    </fieldset>
</form>

</div>
