<app-navigation-manager></app-navigation-manager>
<legend class="text-center">Patients</legend>

<div class="table-responsive-sm m-2">
    <table class="table table-light table-bordered border-2">
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Blocked</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let patient of patients;  let i = index">
            <td>{{i + 1}}</td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="patient.firstname">
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="patient.lastname">
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="patient.mail">
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="patient.address">
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="patient.phone">
            </td>
            <td>
                <select class="form-select" [(ngModel)]="patient.approved">
                    <option value="true">Active</option>
                    <option value="false">Not Active</option>
                </select>
            </td>
            <td>
                <select class="form-select" [(ngModel)]="patient.deleted">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </td>
            <td>
                <button (click)="changePatient(patient)" class="btn btn-dark"
                        type="button">Save
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<legend class="text-center">Doctor</legend>

<div class="table-responsive-sm m-2">
    <table class="table table-light table-bordered border-2">
        <thead>
        <tr>
            <th>#</th>
            <th>First name</th>
            <th>Last name</th>

            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>License Number</th>
            <th>Specilization</th>
            <th>Medicine Department</th>
            <th>Status</th>
            <th>Blocked</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let doctor of doctors;  let i = index">
            <td [ngClass]="{'danger' : doctor.approved}">{{i + 1}}</td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="doctor.firstname">
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="doctor.lastname">
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="doctor.mail">
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="doctor.address">
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="doctor.phone">
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="doctor.licenceId">
            </td>
            <td>
                <select class="form-select" [(ngModel)]="doctor.specialization">
                    <option *ngFor="let specialization of specializations"
                            [value]="specialization">{{specialization._id}}
                    </option>
                </select>
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="doctor.medicineBranch">
            </td>
            <td>
                <select class="form-select" [(ngModel)]="doctor.approved">
                    <option value="true">Active</option>
                    <option value="false">Not Active</option>
                </select>
            </td>
            <td>
                <select class="form-select" [(ngModel)]="doctor.deleted">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </td>
            <td>
                <button (click)="changeDoctor(doctor)" class="btn btn-dark"
                        type="button">Save
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div id="alert" class="alert alert-danger" role="alert">
    {{message}}
</div>

